<?xml version="1.0"?>
<!--
/**
 * Copyright © MagePal LLC. All rights reserved.
 * See COPYING.txt for license details.
 * https://www.magepal.com | support@magepal.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magepal" sortOrder="400" translate="label">
            <label>MagePal</label>
        </tab>
        <section id="magepal_checkout" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="5" translate="label">
            <label>Checkout</label>
            <tab>magepal</tab>
            <resource>MagePal_PreviewCheckoutSuccessPage::config_magepal_previewcheckoutsuccesspage</resource>
            <group id="preview_success_page" showInDefault="1" showInStore="1" showInWebsite="0" sortOrder="100" translate="label">
                <label>Preview Success Page</label><attribute type="expanded">1</attribute>
                <comment>
                    <![CDATA[
                    <div id="magepal-info-pcsp">
                        Copyright © 2019 <a href="https://www.magepal.com/magento2/extensions.html?utm_source=preview-confirmation-page&utm_medium=admin" target="_blank">MagePal, LLC</a>
                        <a href="https://www.magepal.com/help/docs/preview-order-confirmation-page-magento-2/?utm_source=preview-confirmation-page&utm_medium=admin#documentation" target="_blank">Documentation</a>
                        <a href="https://www.magepal.com/help/docs/preview-order-confirmation-page-magento-2/?utm_source=preview-confirmation-page&utm_medium=admin#support">Support</a>
                        <a href="https://www.magepal.com/help/docs/preview-order-confirmation-page-magento-2?utm_source=preview-confirmation-page&utm_medium=admin#current_version" target="_blank">Latest Version</a>
                        <a href="https://www.magepal.com/preview-order-confirmation-page-for-magento-2.html?utm_source=preview-confirmation-page&utm_medium=admin" target="_blank">Extension Detail</a>
                        <a href="https://www.magepal.com/magento2/extensions.html?utm_source=preview-confirmation-page&utm_medium=admin" target="_blank">More Extensions</a>
                    </div>
                    <div>
                    Design beautiful order confirmation page with our new <a href="https://www.magepal.com/enhanced-success-page.html">Enhanced Success Page</a> extension.
                    </div>
                    <hr style="border-top: 1px solid #e3e3e3" />
                    <style>
                        #magepal-info-pcsp a {
                            font-weight: bold;
                            border-left: 2px solid #e3e3e3;
                            padding-left:10px;
                            padding-right:10px;
                            color: #ef7e1e;
                        }

                        #magepal-info-pcsp a:first-child {
                            padding-left: 5px;
                            border-left: none;
                        }

                        #magepal-info-pcsp {
                            padding-bottom: 5px;
                        }
                        .section-config.active #magepal_checkout_preview_success_page-head {
                            padding-bottom: 0px;
                        }
                     </style>]]>
                </comment>
                <field id="module_version" translate="label" type="label" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Version</label>
                    <frontend_model>MagePal\PreviewCheckoutSuccessPage\Block\Adminhtml\System\Config\Form\Module\Version</frontend_model>
                </field>
                <field id="composer_version" translate="label" type="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Composer Version</label>
                    <frontend_model>MagePal\PreviewCheckoutSuccessPage\Block\Adminhtml\System\Config\Form\Composer\Version</frontend_model>
                </field>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="valid_for" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Valid for</label>
                    <comment>Minimum of 3 minutes and Maximum of 15 minutes</comment>
                    <validate>validate-zero-or-greater required-entry validate-number-range-3-15 validate-digits required-entry</validate>
                    <backend_model>MagePal\PreviewCheckoutSuccessPage\Model\Config\Backend\ValidFor</backend_model>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>

                <field id="order_increment" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Order ID</label>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                    <frontend_model>MagePal\PreviewCheckoutSuccessPage\Block\Adminhtml\System\Config\Form\Field\OrderIncrement</frontend_model>
                </field>

                <field id="modify_timestamp" translate="label" type="hidden" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1">
                    <backend_model>MagePal\PreviewCheckoutSuccessPage\Model\Config\Backend\ModifyTimestamp</backend_model>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>

                <field id="access_code" translate="label" type="hidden" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1">
                    <backend_model>MagePal\PreviewCheckoutSuccessPage\Model\Config\Backend\AccessCode</backend_model>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
                <field id="preview" type="label" translate="label comment" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>HTML and Scripts</label>
                    <frontend_model>MagePal\PreviewCheckoutSuccessPage\Block\Adminhtml\System\Config\Form\Field\Preview</frontend_model>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>